h1 {
    color: black;
}

body {
    margin: 0;
    padding: 0;
}

#navigation_sidebar {
    margin: 0;
    position: fixed;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: #222831;
}

#add_task_button {
    text-align: center;
    font-size: small;
    color: white;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: white solid 1px;
    border-radius: 25px;
    margin: 10px;
    padding: 5px;
    transition: 0.5s;
}

#add_task_button:hover {
    color: black;
    background-color:white;
}

